* {
	box-sizing: border-box;
}
main {
	background: url(./images/grey-background.jpeg);
}
body {
	font-family: 'Roboto Slab', serif;
    font-size: 1.33em;
    line-height: 1.6;
	min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
  width: 100%;
}

details {
  width: 100%;
  img:hover {
		cursor:pointer;
	}
	summary {
	h3 {
	text-align: center;
	}
}
}

#top-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}

.header-name {
    margin: 0;
    font-size: 1.1em;
}

.icon-github, .icon-linkedin {
	padding: 6px;
}

.main-nav {
    margin-top: 0.4em;
	a {
		padding: 10px 15px;
		text-align: center;
		display: block;
		font-size: 1em;
		color: rgb(169, 107, 90);
		&:hover {
			color: #718daa;
		}
	}
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: rgb(233, 232, 234);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: rgb(169, 107, 90);
}

#about-me, #projects, #skills, #contact-me {
	height: 100%;

}
#main-background {
	/* background-color: RGBA(0,0,17,.5); */

}

form {
	input {
		border: 2px solid black;
		border-radius: 5px;
	}
	textarea{
		border: 2px solid black;
		border-radius: 5px;
	}
}

div {
	label, input {
		display: flex;
	}
}


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
            .header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	        }
	}
}

@media (min-width: 1025px) {
    .header {
		flex-direction: row;
		justify-content: space-between;
		.hamburger, .cross {
			display: none;
		}
		.main-nav {
			display: flex !important;
		}

	}
}

